<h1>Courses, Sections and Professor Forms</h1>

<div> <%= link_to "Courses", courses_path %></div>

<div> <%= link_to "Sections", sections_path %></div>

<div> <%= link_to "Professors", professors_path %></div>
